/************************************
          CTA CSS FILE
 ************************************/
#cta-wrapper {
  background-image: url("../images/Coffee-Lobby.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 10px;
}

.cta-container {
  background: black;
  background: rgba(0, 0, 0, 0.88);
  width: calc(80% - 20px);
  margin: auto;
  color: #fff;
  text-align: center;
  padding: 30px;
}

.mail-label {
  height: 43px;
  width: 50%;
}

.subscribe-form {
  margin-top: 45px;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .cta-container {
    width: 80%;
    padding: 30px;
  }
}

@media screen and (min-width: 1201px) {
  .cta-container {
    width: 60%;
    padding: 60px;
  }
}
